﻿@model IEnumerable<APC_jaime_moreno.Genero>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("ID")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GeneroId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.GeneroId }) |
            @Html.ActionLink("Details", "Details", new { id = item.GeneroId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.GeneroId })
        </td>
    </tr>
}

</table>
